<div style="width:200px;">
    <h1>Welcome {{username}}!</h1>

    <h3>Random joke count: {{count}}</h3>
    
      <br><a href="/joke">Show random Joke </a>
      <br><a href="/jokes">Show all Jokes </a>
      <br><a href="/addjoke">Add new joke </a>
    </div>
      